In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# February Data

Dates: Feb 27-28

In [27]:
feb27 = pd.read_csv('archive/February/UkraineCombinedTweetsDeduped_FEB27.csv.gzip', compression='gzip')
feb28_1 = pd.read_csv('archive/February/UkraineCombinedTweetsDeduped_FEB28_part1.csv.gzip', compression='gzip')
feb28_2 = pd.read_csv('archive/February/UkraineCombinedTweetsDeduped_FEB28_part2.csv.gzip', compression='gzip')

/var/folders/kq/sgj1fw1j2c9_ttnhs0l53fk40000gn/T/ipykernel_56680/907909048.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  feb28_1 = pd.read_csv('archive/February/UkraineCombinedTweetsDeduped_FEB28_part1.csv.gzip', compression='gzip')

In [28]:
feb = pd.concat([feb27,feb28_1,feb28_2])

In [29]:
feb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 735189 entries, 0 to 140383
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      735189 non-null  int64
 1   userid          735189 non-null  int64
 2   username        735189 non-null  object
 3   acctdesc        575146 non-null  object
 4   location        429725 non-null  object
 5   following       735189 non-null  int64
 6   followers       735189 non-null  int64
 7   totaltweets     735189 non-null  int64
 8   usercreatedts   735189 non-null  object
 9   tweetid         735189 non-null  int64
 10  tweetcreatedts  735189 non-null  object
 11  retweetcount    735189 non-null  int64
 12  text            735189 non-null  object
 13  hashtags        735189 non-null  object
 14  language        735189 non-null  object
 15  coordinates     68 non-null      object
 16  favorite_count  735189 non-null  int64
 17  extractedts     735189 non-null  object
dtypes: int64(8), object(10)
memory usage: 106.6+ MB

In [31]:
feb = feb[(feb.location.notna()) & (feb.language == 'en')]

In [33]:
feb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281000 entries, 0 to 140382
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      281000 non-null  int64
 1   userid          281000 non-null  int64
 2   username        281000 non-null  object
 3   acctdesc        253427 non-null  object
 4   location        281000 non-null  object
 5   following       281000 non-null  int64
 6   followers       281000 non-null  int64
 7   totaltweets     281000 non-null  int64
 8   usercreatedts   281000 non-null  object
 9   tweetid         281000 non-null  int64
 10  tweetcreatedts  281000 non-null  object
 11  retweetcount    281000 non-null  int64
 12  text            281000 non-null  object
 13  hashtags        281000 non-null  object
 14  language        281000 non-null  object
 15  coordinates     26 non-null      object
 16  favorite_count  281000 non-null  int64
 17  extractedts     281000 non-null  object
dtypes: int64(8), object(10)
memory usage: 40.7+ MB

# March Dates

March 19
March 21
March 31

In [34]:
mar19 = pd.read_csv('archive/March/UkraineCombinedTweetsDeduped_MAR19.csv.gzip', compression='gzip')
mar21 = pd.read_csv('archive/March/UkraineCombinedTweetsDeduped_MAR21.csv.gzip', compression='gzip')
mar31 = pd.read_csv('archive/March/UkraineCombinedTweetsDeduped_MAR31.csv.gzip', compression='gzip')

In [35]:
mar19 = mar19[(mar19.location.notna()) & (mar19.language == 'en')]
mar21 = mar21[(mar21.location.notna()) & (mar21.language == 'en')]
mar31 = mar31[(mar31.location.notna()) & (mar31.language == 'en')]

In [36]:
mar19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181836 entries, 1 to 442665
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      181836 non-null  int64
 1   userid          181836 non-null  int64
 2   username        181836 non-null  object
 3   acctdesc        163183 non-null  object
 4   location        181836 non-null  object
 5   following       181836 non-null  int64
 6   followers       181836 non-null  int64
 7   totaltweets     181836 non-null  int64
 8   usercreatedts   181836 non-null  object
 9   tweetid         181836 non-null  int64
 10  tweetcreatedts  181836 non-null  object
 11  retweetcount    181836 non-null  int64
 12  text            181836 non-null  object
 13  hashtags        181836 non-null  object
 14  language        181836 non-null  object
 15  coordinates     29 non-null      object
 16  favorite_count  181836 non-null  int64
 17  extractedts     181836 non-null  object
dtypes: int64(8), object(10)
memory usage: 26.4+ MB

In [37]:
mar21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202118 entries, 0 to 480518
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      202118 non-null  int64
 1   userid          202118 non-null  int64
 2   username        202118 non-null  object
 3   acctdesc        181645 non-null  object
 4   location        202118 non-null  object
 5   following       202118 non-null  int64
 6   followers       202118 non-null  int64
 7   totaltweets     202118 non-null  int64
 8   usercreatedts   202118 non-null  object
 9   tweetid         202118 non-null  int64
 10  tweetcreatedts  202118 non-null  object
 11  retweetcount    202118 non-null  int64
 12  text            202118 non-null  object
 13  hashtags        202118 non-null  object
 14  language        202118 non-null  object
 15  coordinates     21 non-null      object
 16  favorite_count  202118 non-null  int64
 17  extractedts     202118 non-null  object
dtypes: int64(8), object(10)
memory usage: 29.3+ MB

In [38]:
mar31.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138519 entries, 0 to 344511
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      138519 non-null  int64
 1   userid          138519 non-null  int64
 2   username        138519 non-null  object
 3   acctdesc        125883 non-null  object
 4   location        138519 non-null  object
 5   following       138519 non-null  int64
 6   followers       138519 non-null  int64
 7   totaltweets     138519 non-null  int64
 8   usercreatedts   138519 non-null  object
 9   tweetid         138519 non-null  int64
 10  tweetcreatedts  138519 non-null  object
 11  retweetcount    138519 non-null  int64
 12  text            138519 non-null  object
 13  hashtags        138519 non-null  object
 14  language        138519 non-null  object
 15  coordinates     18 non-null      object
 16  favorite_count  138519 non-null  int64
 17  extractedts     138519 non-null  object
dtypes: int64(8), object(10)
memory usage: 20.1+ MB